<h1>The office gif bot!</h1>
<p>Try it out here:</p>
<%= form_with url: root_path, method: :get do |f| %>
  <%= f.text_field :query %>
  <%= f.submit "Hit me!" %>
<% end %>

<h2>RESULTS: <%= @results.count %></h2>
<ul>
  <% @results.each do |r| %>
    <li>
      <%= r.text %>
    </li>
  <% end %>
</ul>
